
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  cursor: url(/static/assets/cursor.cur), crosshair;
}

body {
  font-family: 'Space Mono', monospace;
  line-height: 1.5;
  color: rgb(241, 109, 109);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #fef2f1;
  transition: background-color 0.1s ease-out;
}

/* Remove default list styles */
ul {
  list-style: none;
  padding-left: 5%;
  padding-right: 5%;
  margin: 0;
}

/* Global Typography */
h1 {
  font-size: 6rem;
  padding-left: 5%;
  padding-right: 5%;
}

h2 {
  font-size: 2rem;
  padding-left: 5%;
  padding-right: 5%;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
}

/* Links */
a {
  color: #ea8478;
  text-decoration: none;
  transition: all 0.2s ease;
  padding-left: 10%;
  padding-right: 10%;
}

a:hover {
  color: #fff;
}

/* Images */
img {
  max-width: 80%;
  height: auto;
  display: block;
  padding: 1rem;
}

/* Animations */
@keyframes bounce {
  0%, 100%, 20%, 50%, 80% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}